@using nov30task.Areas.Admin.ViewModels
@using nov30task.Models;
@model IEnumerable<AdminProductListItemVM>
@{
    ViewData["Title"] = "Index";


    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        <a asp-action="Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>SellPrice</th>
                <th>CostPrice</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Category</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class='@(item.IsDeleted ? "bg-danger text-white" : "")'>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.SellPrice</td>
                                <td>@item.CostPrice</td>
                                <td>@item.Discount</td>
                                <td>@item.Quantity</td>
                                <td><img width="100" height="50" src="~/prodimages/@item.ImageUrl"/></td>
                                <td>@item.Category?.Name</td>
                                <td class="text-center"><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                                <td class="text-center"><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="10">Zero data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class ="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge"> @pge</a>

                </li>
            }
            

        </ul>
    }
</div>
